/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*</CssReset>*/
html {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
body {
    position: relative;
    background: #eee;
}

header {
    background-color: rgb(91, 165, 131);
    padding: 25px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 100%;
    font-size: 3rem;
}

/* header a {
    text-decoration: none;
} */

header h1 {
    color: #fff;
    font-family: 'McLaren', cursive;
    font-weight: 200;
}

header h1:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

footer p {
    font-size: 1.3rem;
    color: #ccc;
}

.form {
    width: 100%;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: rgb(91, 165, 131);
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}

.note button:hover {
    color: #000;
}

.note.detail {
    display: flex;
    justify-content: center;
    margin: 10%;
    width: 70%;
    min-height: 100px;
}

.note.detail input {
    font-size: 1.5em;
    margin-bottom: 6px;
}

.note.detail textarea {
    font-size: 1.5em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.detail form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail input,
.detail textarea {
    border: none;
    resize: none;
}

.detail input:focus,
.detail textarea:focus {
    outline: none;
}

.detail input::placeholder,
.detail textarea::placeholder {
    color: #000;
}

form.createForm {
    position: relative;
    width: 60vw;
    margin: 50px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.createForm input,
form.createForm textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}
form.createForm button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: rgb(91, 165, 131);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.section {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.section--noteArea {
    min-height: 80vh;
}

.inner {
    width: 80%;
}

.inner__noteArea {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.section--detail {
    min-height: 80vh;
}
.section--detail .inner {
    /* width: 100%; */
}

.not-found {
    margin: 0 auto;
    font-size: 2rem;
    width: 50vw;
    height: 50vh;
    display: flex;
    line-height: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0.25;
        transform: scale(0.75);
    }
}

.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    bottom: 5%;
    left: 40%;
}

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3ff9dc;
}

.pulse-bubble-1 {
    animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse 0.4s ease 0.4s infinite alternate;
}

/*
  @media 뒤에 오는 type
  default(생략 시): all
  screen : 컴퓨터 화면, 태블릿, 스마트폰 등 .. (일반적으로 사용)
  all : 모든 미디어 타입에 적용
  print : 인쇄 전용(잘 안씀)

  @미디어특성
  주로 max-width, min-width, orientation(뷰포트 방향) 사용
  orientation:portrait -> 세로가 더 긴 상태 (스마트폰 일반모드)
  orientation:landscape -> 가로가 더 긴 상태 (스마트폰 가로모드)
*/
@media screen and (max-width: 720px) {
    header {
    }
}
